/*
 * console.css: kang console styles
 */

/*
 * General rules.
 */

body {
	font-family: sans-serif;
	font-size: small;
	background: #aaaaaa;
	color: #004400;
}

tr {
	vertical-align: top;
}


/*
 * Reusable page blocks.
 */

.kHeader {
	font-size: x-large;
	font-weight: bold;
	margin-right: 30px;
	text-shadow: 1px 1px 1px #333333;
}

.kSubHeader {
	font-size: large;
	font-weight: bold;
	margin-right: 30px;
}

.kBlockLeftThird {
	padding: 20px;
	position: absolute;
	left: 5%;
	right: 30%;
}

.kBlockRightTwoThirds {
	padding: 20px;
	position: absolute;
	left: 40%;
	right: 5%;
}

.kBlockLeftHalf {
	padding: 20px;
	position: absolute;
	left: 5%;
	right: 45%;
}

.kBlockRightHalf {
	padding: 20px;
	position: absolute;
	left: 55%;
	right: 5%;
}

.kHorizontalSeparator {
	border-bottom: 1px #004400 dashed;
}

/*
 * The "Console" itself is the actual body of the page in which all of the
 * content lives.
 */
.kConsole {
	background: #eeeeee;
	border: 1px #004400 solid;

	position: absolute;
	margin-left: 10px;
	margin-right: 10px;
	min-width: 85%;

	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 90%;

	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;

	box-shadow: 3px 3px 4px #000;
}

	.kConsoleHeader > * {
		margin-right: 30px;
	}

	.kLastUpdated {
		color: #666666;
	}

	.kConsole > div {
		margin-bottom: 10px;
	}
	
	.kDataContainer > div {
		margin-bottom: 10px;
	}

/*
 * Service summary table
 */
.kServiceSummary {
	min-height: 100px;
}

	table.kServiceTable th {
		text-align: left
	}
	
	table.kServiceTable td, table.kServiceTable th {
		padding-left: 5px;
		padding-right: 5px;
		white-space: pre;
	}

	table.kServiceTable td {
		font-size: x-small;
	}

table.kDynamicTable {
	padding-left: 10px;
	padding-right: 10px;
}

	table.kDynamicTable th {
		text-align: left;
	}

	table.kDynamicTable td, table.kDynamicTable th {
		padding-left: 5px;
		padding-right: 5px;
		white-space: pre;
	}

	table.kDynamicTable td {
		font-size: x-small;
	}


/*
 * Raw snapshot dump (primarily for debugging)
 */
.kDump {
	font-family: monospace;
	white-space: pre;
	padding-top: 10px;
	padding-bottom: 10px;
	display: none; /* by default */
}
